.App {
  text-align: center;
}

html, body {
  
}

body {
  background-image: url(osrs-background.jpg);
  background-repeat: repeat-y;
  top: 0;
  width: 50%;
  height: 100%;
  background-size: 50%;
  background-color: black;
  margin: 0 auto;
  background-position: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Tweets {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}

.card {
  background-image: url(osrs-backdrop.png);
  background-color: transparent;
  background-size: cover;
  display: inline-grid;
  width: 100%;
  flex: 0 1 25%;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.card button {
  background-image: url(osrs-button.png);
  background-color: transparent;
  background-size: cover;
  width: 4rem;
  height: 3rem;
  align-items: center; 
  margin: auto;
}

.jmod {
  background-image: url(jmod-button2.png);
  background-size: cover;
  width: 13rem;
  height: 11rem;
  align-items: center; 
  color: white;
  margin-left: 5rem;
  margin-top: 1rem;
}

h1 {
  color: yellow
}

h4 {
  color: white;
  margin: auto;
  align-content: center;
}



