.App {
  text-align: center;
}

body {
  background-image: url(osrs-background.jpg);
  background-repeat: repeat-y;
  top: 0;
  width: 50%;
  height: 100%;
  background-size: 50%;
  background-color: black;
  margin: 0 auto;
  background-position: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Tweets {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}

.card {
  background-image: url(osrs-backdrop.png);
  background-color: transparent;
  background-size: 100%;
  
  flex: 0 1 25%;
  margin: 1rem 5rem;
  padding: 1rem;

  overflow-wrap: break-word;
}




.jmod {
  background-image: url(jmod-button2.png);
  background-size: cover;
  border-radius: 1rem;
  width: 13rem;
  height: 11rem;
  align-items: center; 
  color: white;
  margin-left: 5rem;
  margin-top: 1rem;
}

h1 {
  color: yellow
}

h4 {
  color: white;
  margin: auto;
  align-content: center;
}

h5 {
  color: white;
  margin: auto;
  align-content: center;
}



.jHeader {
  align-items: center;
  margin-left: 25%;
}

.Profile {
  margin-left: 5%;
}

.JmodPage {
  margin-left: 10%;
  width: 80%;
}

.jmod .comments .card {
  max-width: inherit;
}

.follow {
  background-image: url(follow-button.png);
  background-size: contain;
  background-color: transparent;
  width: 4.4rem;
  height: 3.7rem;
  border-radius: 1rem;
}

.twitter {
  background-image: url(twitter-button.png);
  background-size: contain;
  background-color: transparent;
  width: 4.4rem;
  height: 3.7rem;
  border-radius: 1rem;
}
.reddit {
  background-image: url(reddit-button.png);
  background-size: contain;
  background-color: transparent;
  width: 4.4rem;
  height: 3.7rem;
  border-radius: 1rem;
}

.pin {
  background-image: url(pin-button.png);
  background-color: transparent;
  background-size: cover;
  width: 4.4rem;
  height: 3.7rem;
  align-items: center; 
  margin: auto;
  border-radius: 1rem;
}

.trash {
  background-image: url(trash-button.png);
  background-color: transparent;
  background-size: cover;
  width: 4.4rem;
  height: 3.7rem;
  align-items: center; 
  margin: auto;
  border-radius: 1rem;
}

.signup {
  background-image: url(sign-up.png);
  background-color: transparent;
  background-size: cover;
  width: 9.5rem;
  height: 8rem;
}

.signin {
  background-image: url(sign-in.png);
  background-color: transparent;
  background-size: cover;
  width: 9.5rem;
  height: 8rem;
}

.Login-container {
  width: 50%;
  margin-left: 25%;
}

.Login-item {
  display: grid;
}
